
body {
    padding-top: 0px;
    padding-bottom: 80px;
}

#body-content {
    padding-top: 40px;
}
.center-content {
    max-width: 960px;
    height: auto;
    margin: 0 auto;
}

#primary-nav {
    background-color: #0077b3;
}
.navbar {
    background-color: #0077b3 !important;
    padding: 0px !important;
}

.link-account, .link-account a, .link-account a:hover {
    color: white !important;
    font-size: 12px;
}
.link-account a.active {
    font-weight: bold;
}

.footer {
    height: 45px;
}
.footer-p-custom {
    color: grey;
    font-size: 11px;
    line-height: 15px;
    padding-top: 8px;
}
