
{% extends 'YAPS/base.html' %}

{% load staticfiles %} 
{% block title %}
    <title>Index</title>
{% endblock %}

{% block body_block %}
      <div>
         <div class="card-group">




{% if user.is_authenticated %}
   <p><strong> Welcome Back {{ user.username }}</strong></p>
{% else %}
    <p><strong>Login Or Register For An Account.</strong></p>

{% endif %}
    <div>
               <img src="{% static 'images/yaps.jpg' %}" style="float:right;width:40%;height:70%;">

                <div>
                    <img src="{% static 'images/pics.jpg' %}" style="float:right;width:30%;height:25%;">
            </div>
</div><br>
             



{% endblock %}


