
{% extends 'YAPS/base.html' %}

{% load staticfiles %} 
{% block title %}
    <title>Index</title>
{% endblock %}

{% block body_block %}
      <div>
         <div class="card-group">




{% if user.is_authenticated %}
   <p><strong> Welcome Back {{ user.username }}</strong></p>
{% else %}
    <p><strong>Login Or Register For An Account.</strong></p>

{% endif %}
    <div>
               <img src="{% static 'images/yaps.jpg' %}" style="float:right;width:40%;height:70%;">

                <div>
                    <img src="{% static 'images/pics.jpg' %}" style="float:right;width:30%;height:25%;">
            </div>
</div><br>
             


<div class="card-group">
  <div class="card">
          <!-- this line allows the entire card to become a link -->
    <a href="/YAPS/category/science" style="position: absolute; top: 0; left: 0; height: 50%; width: 70%;"></a>
    <img class="card-img-top" style="max-height:56%;max-width:100%;" src="{% static 'images/science.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Science</h5>
      <p class="card-text">Science and Technology podcasts !!</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
          <!-- this line allows the entire card to become a link -->
    <a href="/YAPS/category/drama" style="position: absolute; top: 0; left: 0; height: 100%; width: 100%;"></a>
    <img class="card-img-top" style="max-height:100%;max-width:100%;" src="{% static 'images/dramas.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Drama</h5>
      <p class="card-text">Everyone needs drama in their life !!</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
          <!-- this line allows the entire card to become a link -->
    <a href="/YAPS/category/sport" style="position: absolute; top: 0; left: 0; height: 70%; width: 70%;"></a>
    <img class="card-img-top"  style="max-height:100%;max-width:100%;" src="{% static 'images/sport.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Sports</h5>
      <p class="card-text">Podcasts form the world of sports !!</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
  <div class="card">
          <!-- this line allows the entire card to become a link -->
    <a href="/YAPS/category/comedy" style="position: absolute; top: 0; left: 0; height: 70%; width: 70%;"></a>
    <img class="card-img-top" style="max-height:100%;max-width:100%;" src="{% static 'images/comedy.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Comedy</h5>
      <p class="card-text">All your laughter needs !!</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
             
<div class="card">
          <!-- this line allows the entire card to become a link -->
    <a href="/YAPS/category/music" style="position: absolute; top: 0; left: 0; height: 70%; width: 70%;"></a>
    <img class="card-img-top" style="max-height:68%;max-width:100%;" src="{% static 'images/musics.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Music</h5>
      <p class="card-text">Latest podcasts from the music genre !!</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>



      </div>
{% endblock %}


