
{% extends 'YAPS/base.html' %}

{% load staticfiles %} 
{% block title %}
    <title>Index</title>
{% endblock %}

{% block body_block %}
      <div><h1><img src="{% static 'images/yapshead.jpg' %}">
          </h1>
         <div class="card-group">
{% for category in categories %}
  <div class="card">
    <!-- this line allows the entire card to become a link -->
    <a href="{{ category.name }}" style="position: absolute; top: 0; left: 0; height: 100%; width: 100%;"></a>

    <img class="card-img-top" src="{% static 'images/{{category.slug}}.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ category.title }}</h5>
      <p class="card-text"> text</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
{% endfor %}
</div>



      </div>
{% endblock %}


