{% extends 'YAPS/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Login
{% endblock %}

{% block body_block %}
<h1>Login to YAPS</h1>

	<div>
	{% if bad_details %}
            <p><strong>Your username or password were incorrect!</strong></p>
            {% elif disabled_account %}
            <p><strong>Your YAPS account is currently disabled; we can't log you in!</strong></p>
            {% endif %}
			
	</div>
<form id="login_form" method="post" action="{% url 'login' %}">
	{% csrf_token %}
	Username: <input type="text" name="username" value="" size="50" />
	<br /><h2>{{ error }}</h2>
	Password: <input type="password" name="password" value="" size="50" />
	<br />
	<input type="submit" value="submit" />
	
</form>
{% endblock %}
