{% extends 'YAPS/base.html' %}

{% load staticfiles %} 
{% block title %}
    <title>Radiolab (replace me with dynamic title)</title>
{% endblock %}

{% block body_block %}

<style>
.profileimg {
    position:relative;
}

.stars {
    position:absolute;
    left:50px;
    }

</style>


<div class="container">
  <div class="row">
    <div class="col-md-3">
        <div class="profileimg">
            <img src="{{podcast.image.url}}"  alt="" class="img-rounded">
            <div class="stars">
                <span class="fa fa-star fa-2x checked" style="color:orange"></span>
                <span class="fa fa-star fa-2x checked" style="color:orange"></span>
                <span class="fa fa-star fa-2x checked" style="color:orange"></span>
                <span class="fa fa-star fa-2x checked" style="color:orange"></span>
                <span class="fa fa-star fa-2x"></span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
      <blockquote>
        <p class ="font-weight-bold">{{ podcast.title }}</p>
        <small><cite title="Source Title">{{ podcast.author }}<i class="icon-map-marker"></i></cite></small>
      </blockquote>
      <p>
        <i class="fas fa-home fa-2x"></i>  &emsp; {{ podcast.url }} <br>
        <i class="fas fa-clock fa-2x"></i>&emsp; ~20-60 mins <br>
          <i class="fas fa-rss fa-2x"></i>&emsp; <a href="">RSS Link</a> <br>
        <i class="fas fa-dot-circle fa-2x"></i>&emsp; <a href="{% url 'show_category' podcast.category.slug %}"{{podcast.category}}>{{podcast.category}}</a> <br>

      </p>
    </div>

    <div class="col-md-6">
        <p class="text-justify font-weight-bold font-italic" style="font-size:200%">
            {{ podcast.description }}
        </p>
    </div>

  </div>
</div>
{% endblock %}
